.cookie-drawer h2 {
  color: white;
  font-family: "Maven Pro", sans-serif;
}

.cookie-drawer p {
  color: white;
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.02em;
  font-size: 18px;
}

.cookie-drawer {
  background-color: rgb(49, 44, 44);
}

.cookie-modal h2 {
  color: white;
  font-family: "Maven Pro", sans-serif;
}

.cookie-modal p {
  color: white;
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.02em;
}

.cookie-modal a {
  color: #5ec4ff;
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.02em;
}

.cookie-modal {
  background-color: rgb(49, 44, 44);
}